@model TestingArea.Models.Provider
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <table class="table table-striped">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProviderID)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Abbreviation)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.ProviderID)
            </td>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Abbreviation)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    @Scripts.Render("http://code.jquery.com/jquery.js")
    @Scripts.Render("js/bootstrap.min.js")

</div>
@Scripts.Render("http://code.jquery.com/jquery.js")
@Scripts.Render("js/bootstrap.min.js")
